<!DOCTYPE>
<html>
    <head>
      <link href='skeleton/css/normalize.css' rel='stylesheet'/>
      <link href='skeleton/css/skeleton.css' rel='stylesheet'/>
      <link href='/styles.css' rel='stylesheet'/>
    </head>
    <body>
      <div id='app' class='container'>
      </div>
    </body>
    <script src='babel-polyfill/polyfill.js'></script>
    <script src='./app.js'></script>
</html>
